<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itbank.libook.service.dao.CategoryDAO">

	<select id="getCategoryInfo" resultType="categoryVO">
		select category_name
		from pr3category
	</select>

	<!-- 우림 -->
	<select resultType="categoryVO" id="findCategory">
		SELECT category_code,
		category_name FROM pr3category
	</select>

	<insert id="categoryInsert" parameterType="categoryVO">
		INSERT INTO PR3CATEGORY
		VALUES (category_num.nextval, #{category_name})
	</insert>

	<select resultType="int" id="categoryChk">
		SELECT COUNT(*) FROM PR3CATEGORY
		WHERE CATEGORY_NAME = #{category_name}
	</select>
</mapper>